
<header class="header">
  <div class="container-fluid">
  	<nav class="nav-header">
  		<a class="nav-header-link" href="">Категории и каталоги</a>
  		<a class="nav-header-link active" href="">Товары и услуги</a>
  		<a class="nav-header-link" href="">Автомобили</a>
  		<a class="nav-header-link" href="">Бренды</a>
  		<a class="nav-header-link" href="">Атрибуты</a>
  	</nav>
  </div>
</header>
