
table {
	width: 100%;
	th {
		padding: 10px;
		color: #fff;
		line-height: 22px;
		text-align: left;
		vertical-align: middle;
		background-color: $color-secondary;
	}
	tr {
		position: relative;
		&:nth-child(odd) {
			background-color: $color-gray;
		}
		&:hover {
			.td-hint {
				// right: 0;
				opacity: 1;
				visibility: visible;
				.btn--edit {
					right: -15px;
				}
			}		
		}
	}
	td {
		padding: 5px 10px;
		font-size: 17px;
		vertical-align: middle;
	}
}

.table--vendor-code {
	th {
		&:first-child {
			width: 100px;
		}
	}
}

.td-hint {
	width: 0;
	height: 0;
	float: right;
	transition: $transition-primary;
	opacity: 0;
	visibility: hidden;
	.btn--edit {
		position: absolute;
		right: -20px;
	}
}